- unless @transaction.merchant.online
  #map{style: 'width: 100%; height: 250px; margin-top: -20px; margin-bottom: 20px;'}
  :javascript
    $(document).ready(function() {
      var map = L.map('map', {
        scrollWheelZoom: false,
        touchZoom: false,
        dragging: false
      }).setView([#{@transaction.merchant.address.latitude}, #{@transaction.merchant.address.longitude}], 13);

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      var icon = L.icon({
          iconUrl: '#{transaction_logo(@transaction)}',
          iconRetinaUrl: '#{transaction_logo(@transaction)}',
          iconSize: [38, 38],
          iconAnchor: [22, 70],
          popupAnchor: [-3, -76],
          shadowSize: [68, 95],
          shadowAnchor: [22, 94]
      });

      L.marker([#{@transaction.merchant.address.latitude}, #{@transaction.merchant.address.longitude}], { icon: icon }).addTo(map)
          .bindPopup("#{@transaction.merchant.name}")
          .openPopup();
    })

.container

  - if @transaction.declined?
    %p.alert.alert-danger= "This transaction was declined. The reason given was: #{@transaction.decline_reason}"

  #h1.lead
    %img{src: transaction_logo(@transaction), style: 'width: 30px'}
    = "#{@transaction.amount.abs.format} at #{@transaction.merchant.name}"

  - if @transaction.notes.present?
    %p.well.well-sm= @transaction.notes

  %table.table
    %tr
      %th Date
      %td= @transaction.created.to_s(:short)
    %tr
      %th Description
      %td= @transaction.description
    %tr
      %th Amount
      %td= @transaction.amount.format
    %tr
      %th Category
      %td
        = @transaction.category.titleize
        = @transaction.merchant.try(:emoji)
    %tr
      %th Balance
      %td= @transaction.account_balance.format
    %tr
      %th Address
      %td= @transaction.merchant.address.short_formatted


  - if @transaction.attachments.any?
    %hr
    - @transaction.attachments.each do |attachment|
      .col-xs-6.col-md-3
        %a{href: attachment.url}
          .thumbnail
            %img{src: attachment.url, style: 'width: 250px'}
