!!!
%html
  %head
    %title Monzo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Monzo
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            = active_link_to 'Accounts', accounts_path, wrap_tag: :li, active: :exclusive
            - if account_id
              = active_link_to 'Transactions', account_transactions_path(account_id), wrap_tag: :li, active: :exclusive
              = active_link_to 'Map', map_account_transactions_path(account_id), wrap_tag: :li
              = active_link_to 'Cards', account_cards_path(account_id), wrap_tag: :li
    = yield
